# Logs
*.log

node_modules
dist
dist-ssr
*.local
.direnv

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Old artifacts
bin
release
release
build
